<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- One or more appenders -->
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		  <level>info</level>
		</filter>
	</appender>
	
	<!-- logging levels : trace, debug, info, warn, error, off -->
	<root level="info">
		<appender-ref ref="Console" />
	</root>
	
	<logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="org.apache.camel" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
</configuration>